# Python cache files (generated automatically)
__pycache__/
*.pyc
.pytest_cache/

# Logs (We observe these locally, but don't push them)
*.log

# Virtual environments
venv/
env/

# IDE settings
.vscode/

# System files
.DS_Store